# Django project specific excludes
*.sqlite3  # Database file
.env  # Environment variables
*__pycache__  # Python cache files
__pycache__/*

*.log  # Log files

# General excludes
*.pyc  # Python bytecode files

# Specific IDE files
.idea/  # PyCharm IDE files

# Splitting Setting Things
dhammanotes/settings_production.py

